body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.wrapper {
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    width: 350px;
    margin: auto;
    padding: 20px;
}

img {
    border-radius: 15px;
    width: 300px;
}

.title {
    color: hsl(218, 44%, 22%);
    font-weight: bolder;
    margin-top: 25px;
}

.text {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
}

@media only screen and (max-width: 375px) {
    .wrapper {
        width: 350px;
    }

    img {
        width: 300px;
    }
}